name: Build

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          submodules: recursive
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x
      - name: Build
        run: dotnet build --configuration Release
        working-directory: ./Collector
      - name: Test
        run: dotnet test
        working-directory: ./Collector.Tests
